body{
background-color: black;


}

*{
margin: 0;

padding: 0;

}



.cabeçalho{

background-color: #216544;

color: black;

display: flex;

justify-content:space-around ;





}

.cabeçalho-imagem{
 width: 5%

 
}

.item-da-lista{
display: inline-flex;

margin: 16px 16px;

color: #ffffff;

font-style: italic;

font-size: 20px;

}

.img-fundo{
height: 100%;
width: 100%;
position: relative;

}

.nomechamp1{
    color: white;
    right: 50%;
    bottom: 5%;
    position: absolute;
    font-size: 40px;
    }

    .nomechamp2{
        color: white;
        right: 50%;
        bottom: 3%;
        position: absolute;
        }





















































                 


                 /*                 CONTEÚDO ADICIONAL                                          */


                 button {
             padding: 15px 25px;
             right: 20px;
            left:20px;
             bottom:90%;
             color: #212121;
             z-index: 1;
             background: #e8e8e8;
            position: absolute;
             font-weight: 1000;
            font-size: 17px;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
             box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
             transition: all 250ms;
             overflow: hidden;
                   }
           
           button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border-radius: 15px;
            background-color: #212121;
            z-index: -1;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms
           }
           
           button:hover {
            color: #e8e8e8;
           }
           
           button:hover::before {
            width: 100%;
           }
        


        button {
            padding: 15px 25px;
            right: 20px;
            left:20px;
            bottom:90%;
            color: #212121;
            z-index: 1;
            background: #e8e8e8;
            position: absolute;
            font-weight: 1000;
            font-size: 17px;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms;
            overflow: hidden;
           }
           
           button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border-radius: 15px;
            background-color: #212121;
            z-index: -1;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms
           }
           
           button:hover {
            color: #e8e8e8;
           }
           
           button:hover::before {
            width: 100%;
           }




        button {
            padding: 15px 25px;
            right: 20px;
            left:20px;
            bottom:90%;
            color: #212121;
            z-index: 1;
            background: #e8e8e8;
            position: absolute;
            font-weight: 1000;
            font-size: 17px;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms;
            overflow: hidden;
           }
           
           button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border-radius: 15px;
            background-color: #212121;
            z-index: -1;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms
           }
           
           button:hover {
            color: #e8e8e8;
           }
           
           button:hover::before {
            width: 100%;
           }

           
    