body{
background-color: black;


}

*{
margin: 0;

padding: 0;

}



.cabeçalho{

background-color: #216544;

color: black;

display: flex;

justify-content:space-around ;





}

.cabeçalho-imagem{
 width: 5%

 
}

.item-da-lista{
display: inline-flex;

margin: 16px 16px;

color: #ffffff;

font-style: italic;

font-size: 20px;

}

.nomechamp{
    text-align: justify;

    
    color: white;
    
    }

.img-fundo{
height: 600px;
width: 100%;


}

